[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
	owner = group plugins-avatars-external
[project]
	description = Enables to set a custom URL to load avatars from.
